!!! 5
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.2.0-alpha.1/jquery.mobile-1.2.0-alpha.1.css')
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='http://code.jquery.com/mobile/1.2.0-alpha.1/jquery.mobile-1.2.0-alpha.1.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')    
    script(src="/nowjs/now.js")
    
  body
    block content